{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link rel="stylesheet" href="{% static 'todo/css/style.css' %}">
  </head>

  <body>
    <h1>{{ task.title }}</h1>
    <ul>
      <li>Posted at: {{ task.posted_at }}</li>
      {% if task.due_at %}
      <li{% if task.due_at < now %} class="overdue"{% endif %}>
        Due at: {{ task.due_at }}
        {% if task.due_at < now %}<strong>期限切れ</strong>{% endif %}
      </li>
      {% endif %}
      {% if task.completed %}
      <li>Status: Completed</li>
      {% else %}
      <li>Status: Not Completed</li>
      {% endif %}
    </ul>

    <div>
      <a href="{% url 'index' %}">Top</a>
      | <a href="{% url 'delete' task.id %}">Delete</a>
        <a href="{% url 'update' task.id %}">Edit</a>
    </div>
  </body>

</html>